<h1>Welcome to the Finance Tracker app</h1>
<p>Create a welcome page</p>

<%= link_to('Connect with facebook', user_omniauth_authorize_path('facebook'), 
:class => 'display-block float-right buzz-facebook-button') %>